
        p {
            font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }

        .foto-perfil {
            height: auto;
            max-width: auto;
            border-radius: 30%;
            margin-bottom: 20px;
        }

        .icones {
            padding-left: 5px;
        }

        .titulosBrancos {
            text-decoration: underline;
            text-underline-position: under;
            padding-bottom: 20px;
            text-transform: uppercase;
            font-weight: 700;
            color: white;
        }

        .titulosVerdes {
            text-decoration: underline;
            text-underline-position: under;
            padding-bottom: 20px;
            text-transform: uppercase;
            font-weight: 700;
            color: #77cdd3
        }

        .paragrafoBrancos {
            color: white !important;
        }


        .jumbotron {
            margin-bottom: 0px;
        }

        html {
            scroll-behavior: smooth;
        }

        p {
            color: black !important;
        }

        .corPrimaria {
            background-color: #77cdd3;
        }

        .itemMenu {
            color: white;
        }
    
